.footer{
    width: 100%;
    height: fit-content;
   border-top: 1px solid var(--text);
   display: flex;
   flex-direction: column;
   .bottom{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: var(--text);
    a{
        text-decoration: none;
        color: var(--text);
    }
   }
   .top{
       width: 100%;
       display: flex;
       margin-top: 40px;
       display: flex;
       flex-direction: row-reverse;
       justify-content: flex-end;
       .right{
        margin-right: 70px;
        h2{
            color: var(--text);
        }
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            a{
                font-size: 1em;
                margin: 0px 5px;
                i{
                    font-size: 1.5em;
                    color: var(--text);
                }
            }
        }
       }
       .left{
        padding: 0px 20px;
            .contactCard{
                color: var(--text);
                margin: 10px;
                display: flex;
                align-items: center;
                div{
                    h3{
                        :nth-child(1){
                            font-size: 2.5em;
                        }
                    }
                }
                i{
                    font-size: 1.5em;
                    margin-right: 30px;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 35px;
                        border-radius: 50px;
                        height: 100%;
                        width: 3px;
                        background-color: white;
                    }
                }
            }
       }
   }
}







@media screen and  (min-width:320px) and (max-width:480px){
    .footer{
        .top{
            flex-direction: column;
            align-items: center;
            .right{
                margin: 20px 0;
            }
        }
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .footer{
        .top{
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
            .right{
                margin: 20px 0;
                padding: 0;
            }
            .left{
                margin: 0;
                padding: 0 !important;
            }
        }
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .header{
        .list{
            height: 0 !important;
        }
    }
    
}
@media screen and (min-width:1025px) and (max-width:1200px){
    .header{
        .list{
            height: 0 !important;
        }
    }
}
