*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
:root{
  --bg: #f26e17;
  --text: #ffffff;
  --secondary: #44989D;
  --border: #b2b2b262;
}
body{
  width: 100%;
  height: fit-content;
  min-height:100vh;
  background-color: var(--bg);
}